<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Hex Trainer</title>
    <link rel="stylesheet" type="text/css" href="/media/style.css" />
</head>
<body>
  <div id="maintitle">
    <span>Hex Trainer!</span>
  </div>

  <div class="container_12">
    
    <div class="grid_3">
      <h1>Ty</h1>
      <span id="your_name"></span><br/>
      Rozwiązane sety: <span id="solved_sets"></span><br/>
      Trend: <span id="trend"></span><br/>
      Średnia: <span id="average"></span>
      
      <h1>Dzisiaj</h1>
      Rozwiązane sety: <span id="today_solved_sets"></span><br/>
      Średnia: <span id="today_average"></span>
    </div>
    <div class="grid_6" id="content">
      &nbsp;
    </div>
    <div class="grid_3">
      <h1>Ranking 3 dni</h1>
      <ol id="ranking_recent">
      </ol>
      <h1>Ranking ever</h1>
      <ol id="ranking">
      </ol>
    </div>

    <div class="clear"></div>

  </div>
</body>

<script type="text/javascript" src="/media/lib.js"></script>
<script type="text/javascript" src="/media/app.js"></script>
</html>
